# Firefly III Application Config
# Copy this to .env and update values

APP_ENV=local
APP_DEBUG=false
APP_KEY=CHANGE_ME_EXACTLY_32_CHARACTERS!
APP_URL=http://localhost:8080
TRUSTED_PROXIES=**

DEFAULT_LANGUAGE=en_US
DEFAULT_LOCALE=en_US
TZ=Asia/Riyadh

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=firefly
DB_USERNAME=firefly
DB_PASSWORD=secret_firefly_password

SITE_OWNER=your_email@example.com
LOG_CHANNEL=stack
APP_LOG_LEVEL=notice
